header {
    display: flex;
    justify-content: space-between;
    background-color: white;
    border-bottom: 5px solid black;
}

a {
    display: inline-flex;
    align-items: center;
    color: black;
    font-size: 20px;
    font-family: "Fira Code";
    font-weight: 500;
    text-decoration: none;
    margin-right: 30px;
}

a:before {
    content: "";
    background-color: black;
    width: 10px;
    height: 10px;
    margin-right: 10px;
}

span {
    background-color: black;
    width: 10px;
    height: 10px;
    margin-right: 10px;
}

#button {
    display: inline-block;
    box-shadow:5px 5px 0px black;
    background-color: black;
    color: white;
    height: 60px;
    line-height: 60px;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 10px;
}

#button:hover { background-color: darkgrey;}

#button:active {
    background-color: darkgrey;
    box-shadow: 0 5px #666;
}

nav {
    text-align: right;
  }